<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiarui.znxj">

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 地图权限 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".application.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--百度地图定位-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2ZTvv5Cc2dDSMOiLRhONgypw8rGoicXb" />
        <!-- 定位回调 -->
        <service android:name="com.jiarui.znxj.utils.ServiceCallback" >
        </service>
        <!-- 主程序入口 -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- 欢迎页 -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 引导页 -->
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />

        <!-- 参照的Activity -->
        <activity
            android:name=".activity.CanzhaoActivity"
            android:screenOrientation="portrait" />

        <!-- 广告详情页 -->
        <activity
            android:name=".activity.ViewFlowGotoActivity"
            android:screenOrientation="portrait" />
        <!-- 登录 -->
        <activity android:name=".activity.LoginActivity" />

        <!-- 任务中心 -->
        <activity
            android:name=".activity.TaskCenterActivity"
            android:screenOrientation="portrait" />
        <!-- 紧急汇报 -->
        <activity
            android:name=".activity.UrgentReportActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心 -->
        <activity
            android:name=".activity.PersonalCenterActivity"
            android:screenOrientation="portrait" />

        <!-- 汇报工情 -->
        <activity
            android:name=".activity.ProjectActivity"
            android:screenOrientation="portrait" />
        <!-- 汇报水情 -->
        <activity
            android:name=".activity.WaterregimeActivity"
            android:screenOrientation="portrait" />

        <!-- 任务详情 -->
        <activity
            android:name=".activity.SeeActivity"
            android:screenOrientation="portrait" />
        <!-- -项目检查 -->
        <activity
            android:name=".activity.InspectActivity"
            android:screenOrientation="portrait" />
        <!-- -任务预览 -->
        <activity
            android:name=".activity.TaskPreviewActivity"
            android:screenOrientation="portrait" />

        <!-- 通讯录 -->
        <activity
            android:name=".activity.AddressListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 修改密码 -->
        <activity
            android:name=".activity.UpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 巡检点列表 -->
        <activity
            android:name=".activity.PatrolListActivity"
            android:screenOrientation="portrait" />
        <!-- 巡检点设置 -->
        <activity
            android:name=".activity.PatrolSettingActivity"
            android:screenOrientation="portrait" />
        <!-- 数据查询 -->
        <activity
            android:name=".activity.QueryActivity"
            android:screenOrientation="portrait" />
        <!-- 数据查询详情 -->
        <activity
            android:name=".activity.DataDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 坝基 -->
        <activity
            android:name=".activity.BaseofDamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 第二页任务预览 -->
        <activity
            android:name=".activity.PreviewActivity"
            android:screenOrientation="portrait" />
        <!-- 检查项任务预览 -->
        <activity
            android:name=".activity.TaskPreviewCheckItemActivity"
            android:screenOrientation="portrait" />

        <!-- 资料修改 -->
        <activity
            android:name=".activity.DataModificationActivity"
            android:screenOrientation="portrait" />
        <!-- 修改名字 -->
        <activity android:name=".activity.UpdateNameActivity" />

        <activity android:name=".activity.NetSetActivity"></activity>
    </application>

</manifest>